.content{
  background-color:var(--tan);
  width:calc(100% - 320px);
  position:relative;
  padding:50px 25px;
  line-height:30px;
  font-size:18px;
  left:160px;
}

/* Content types */
.content h1{
  color:var(--cornfield-blue);
}
.code{
  background-color:#ddd;
  letter-spacing:2px;
  border-radius:25px;
  padding:35px;
}
