/* General */
.decor{
  background-size:100%;
  position:absolute;
  z-index:-1;
}
.circle{
  background:url("../res/circle.svg");
  background-size:100%;
}
.rect{
  background:url("../res/rect.svg");
  width:160px;
}
.zigzag{
  background:url("../res/zigzag.svg");
}

/* Instances */
.circle-1{
  height:50px;
  width:50px;
  top:275px;
  left:25px;
}
.circle-2{
  height:125px;
  width:125px;
  top:375px;
  left:55px;
}

.rect-1{
  transform:translateX(-160px);
  height:10px;
  left:100%;
  top:390px;
}
.rect-2{
  transform:translateX(-160px);
  height:2px;
  left:100%;
  top:405px;
}
.rect-3{
  transform:translateX(-160px);
  height:4px;
  left:100%;
  top:410px;
}

.circle-3{
  transform:translateX(-78px);
  height:100px;
  width:100px;
  left:100%;
  top:585px;
}

.zigzag-1{
  width:160px;
  height:60px;
  top:750px;
  left:0;
}
